*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family: 'Lora', serif;
}

body {
    background-image: url(../images/fortunecookie.jpg);
    background-size: 400px;
    background-repeat: repeat;
	background-color: #ffe1c9;
	position: relative;
	min-height: 100vh;
}

header{
	background-color: #b1611c;
	display:block;
	padding-bottom: 30px;
	width:100%;
	color:white;
	text-align: center;
}

main{
	margin: 0 auto;
	padding-bottom:100px;
}

.logo-container{
	height:100%;
	}

.logo-container h1{
	font-family: 'Amatic SC', cursive;
	text-shadow: 1px 1px 1px#333231;
	margin-bottom: 5px;
}

footer{
	text-align: center;
	background-color: #bd6e2a;
	color: black;
	width: 100%;
	padding: 10px 0px;
	position: absolute;
	bottom: 0;
}
h2, li, #cookieButtons, #selectNumber {
	padding-bottom:10px;
}

a:link{
	text-decoration: none;
	color:black;
  }
  

.quote-container {
	border: solid 2px #b06a29;
    background-color: #fcfcfc;
	text-align: center;
	margin: 10%;
}

#quote{
	justify-items: center;
}
li{
    font-style: italic;
}

#btnFortune {
	box-shadow:inset 0px 39px 0px -24px #d68945;
	background-color:#bd6e2a;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #332206;
}
#btnMisfortune {

	box-shadow:inset 0px 39px 0px -24px #4556d6;
	background-color:#2a40bd;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #332206;
}

#btnClearAll {
	background-color:#6791b3;
	border-radius:4px;
	border:1px solid #ffffff;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	margin:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #332206;
	display:none;
}

#btnFortune:hover {
	background-color:#b06a29;
}
#btnMisfortune:hover {
    background-color:#2736aa;
}
#btnClearAll:hover{
	background-color: #2774b3;
}