body {
    background-image: url(../images/fortunecookie.jpg);
    background-size: 400px;
    background-repeat: repeat;
    background-color: #ffe1c9;
}


footer{
	text-align: center;
	padding: 10px;
}

h1 {
    font-family:Arial;
	font-size:20px;
}

ul {
	list-style: none;
  }

  a:link, :visited, :hover, :active {
	text-decoration: none;
  }
  
.container {
    border: solid 2px #b06a29;
    background-color: #fcfcfc;
}

.quote-container {
    font-size: 1.5rem;;
	text-align: center;
	padding: 40px;
}

.container p{
    font-style: italic;
}

#btnFortune {
	box-shadow:inset 0px 39px 0px -24px #d68945;
	background-color:#bd6e2a;
	border-radius:4px;
	border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #332206;
}
#btnMisfortune {

	box-shadow:inset 0px 39px 0px -24px #4556d6;
	background-color:#2a40bd;
	border-radius:4px;
	border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #332206;
}

#btnClearAll {
	box-shadow:inset 0px 39px 0px -24px #32a3ff;
	background-color:#008cff;
	border-radius:4px;
	border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #332206;
}

#btnFortune:hover {
	background-color:#b06a29;
}
#btnMisfortune:hover {
    background-color:#2736aa;
}
#btnClearAll:hover{
	background-color: #026ac0;
}


